.HEADER {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 125;
}
.BUSCA {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 123;
}
.Busca_no_site {
  font-size: 12px;
  font-family: "Gotham";
  color: rgb(254, 255, 255);
  line-height: 1.583;
  text-align: left;
  position: absolute;
  left: 1278.937px;
  top: 79.002px;
  z-index: 122;
}
.IDIOMA_SELECT {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 119;
}
.select {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 118;
}
.PORTUGUES_SELECT {
  font-size: 12px;
  font-family: "Gotham";
  color: rgb(254, 255, 255);
  line-height: 1.583;
  text-align: left;
  position: absolute;
  left: 1090.937px;
  top: 78.002px;
  z-index: 116;
}
.ENGLISH {
  font-size: 12px;
  font-family: "Gotham";
  color: rgba(82, 86, 86, 0.549);
  line-height: 1.583;
  text-align: left;
  position: absolute;
  left: 1090.937px;
  top: 125.002px;
  z-index: 115;
}
.PORTUGUES {
  font-size: 12px;
  font-family: "Gotham";
  color: rgb(254, 255, 255);
  line-height: 1.583;
  text-align: left;
  position: absolute;
  left: 1090.937px;
  top: 159.002px;
  z-index: 114;
}
.ESPAÑOL {
  font-size: 12px;
  font-family: "Gotham";
  color: rgba(82, 86, 86, 0.549);
  line-height: 1.583;
  text-align: left;
  position: absolute;
  left: 1090.937px;
  top: 193.002px;
  z-index: 113;
}
.Layer_2 {
  background-image: url("Layer 2.png");
  position: absolute;
  left: 1073px;
  top: 151px;
  width: 166px;
  height: 35px;
  z-index: 112;
}
.Layer_1 {
  background-image: url("Layer 1.png");
  opacity: 0.251;
  position: absolute;
  left: 1073px;
  top: 115px;
  width: 166px;
  height: 106px;
  z-index: 111;
}
.não_select {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 109;
}
.PORTUGUES {
  font-size: 12px;
  font-family: "Gotham";
  color: rgba(254, 255, 255, 0.302);
  line-height: 1.583;
  text-align: left;
  position: absolute;
  left: 1090.937px;
  top: 78.002px;
  z-index: 107;
}
.TARJA {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 104;
}
.HEADER_CINZA {
  background-color: rgb(82,86,86);
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 115px;
  z-index: 103;
}
.HEADER_BRANCO {
  background-image: url("HEADER_BRANCO.png");
  position: absolute;
  left: 0px;
  top: 115px;
  width: 1920px;
  height: 36px;
  z-index: 102;
}
