.META_DADOS {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 27;
}
.Layer_4 {
  background-image: url("Layer 4.png");
  position: absolute;
  left: 686px;
  top: 381px;
  width: 60px;
  height: 60px;
  z-index: 26;
}
.MÓVEIS_RURAIS_Visualização_de_todos_os_imóveis_ {
  font-size: 14px;
  font-family: "Calibri";
  color: rgb(226, 78, 37);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.286;
  position: absolute;
  left: 750px;
  top: 493.45px;
  width: 346px;
  height: 116px;
  z-index: 23;
}
.DWLD {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 22;
}
.DOWNLOAD {
  font-size: 14px;
  font-family: "Calibri";
  color: rgb(254, 254, 254);
  line-height: 1.214;
  position: absolute;
  left: 763px;
  top: 648.002px;
  z-index: 21;
}
.Shape_1_copy_6 {
  background-color: rgb(198, 198, 198);
  position: absolute;
  left: 750px;
  top: 640px;
  width: 98px;
  height: 34px;
  z-index: 20;
}
.Rounded_Rectangle_1_copy {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5.58px 0.42px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 653px;
  top: 348px;
  width: 488px;
  height: 380px;
  z-index: 18;
}
